
.main-container{
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}
.main-carritos {
	width: 950px;
	height: 1080px;
	background-color:#C0B283;
	text-align: center;
	margin-left: 5px;
	border-radius: 10px;
}
.main-carritos p{
color: #373737;
font-family: 'Dosis', regular;

}

.carritos1{
	display: flex;
	justify-content: center;

}
.carritos2{
	display: flex;
	justify-content: center;
}
.carritos3{
	display: flex;
	justify-content: center;
}
.carrito{
	width: 300px;
	height: 350px;
	border-radius: 20px;
	background-color: white;
	margin: 5px;
	
}
.container-total {
	width: 500px;
	height: 1080px;
	background-color: #DCD0C0;
	text-align: center;
	border-radius: 10px;
}
.container-total p {
	color: #373737;
	font-family: 'Dosis', regular;
	font-weight: bold;
}
.container.total{
	display: flex;
}
